{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
},
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    /* "plugin:react/recommended", */
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "overrides": [
    {
        "files": ["*.js", "*.jsx"],
        "rules": {
            "@TypeScript-eslint/explicit-function-return-type": "off"
        }
    }
],
  "rules": {
     "no-console": "warn",
     "prettier/prettier": "warn",
     "no-undefined": "off",
  }
}
